{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MealMate Menu</title>

    <link rel="stylesheet" href="{% static 'customer_menu.css' %}">
</head>

<body>

<header>
    <h1>🍽 MealMate</h1>
    <h2>{{ restaurant.name }} Menu</h2>

    <a class="cart-btn" href="{% url 'show_cart' username %}">
        🛒 Go to Cart
    </a>
</header>

<div class="container">

{% for item in itemList %}

<div class="card">

    <img src="{{ item.picture }}" alt="{{ item.name }}">

    <div class="content">

        <h2>{{ item.name }}</h2>

        <p>{{ item.description }}</p>

        {% if item.vegeterian %}
            <span class="veg">🟢 Veg</span>
        {% else %}
            <span class="nonveg">🔴 Non Veg</span>
        {% endif %}

        <h3>₹{{ item.price }}</h3>

        <a class="btn"
           href="{% url 'add_to_cart' item.id username %}">
           Add to Cart 🛒
        </a>

    </div>

</div>

{% endfor %}

</div>

</body>
</html>