{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MealMate</title>

    <link rel="stylesheet" href="{% static 'customer_home.css' %}">
</head>
<body>

<header>
    <h1>🍽 MealMate</h1>
    <h2>Welcome {{ username }} 👋</h2>
</header>

<div class="container">

{% for restaurant in restaurantList %}

<div class="card">

    <img src="{{ restaurant.picture }}" alt="{{ restaurant.name }}">

    <div class="content">
        <h2>{{ restaurant.name }}</h2>

        <p>{{ restaurant.cuisine }}</p>

        <span>⭐ {{ restaurant.rating }}</span>

        <a href="{% url 'view_menu' restaurant.id username %}">
            View Menu
        </a>
    </div>

</div>

{% endfor %}

</div>

</body>
</html>